<div class="col-xs-12 nopadding comment">
  <div class="col-xs-12 nopadding">
    <% if user_signed_in? %>
      <% if c.user.id == current_user.id %>
        <div class="col-xs-1 nopadding pull-right">
          <div class="col-xs-6 nopadding">
            <%= link_to edit_comment_path(c.id), remote: true do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
          </div>
          <div class="col-xs-6 nopadding">
            <%= link_to (c), method: :delete, data: {confirm: t(".sure")}, remote: true do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-12 nopadding user-comment">
    <div class="col-xs-8 nopadding">
      <%= image_tag c.user.avatar.url, class: "img-circle", width: 30, height: 30 %>
      <%= c.user.email %>
    </div>
    <div class="col-xs-3">
      <%= time_ago_in_words(c.created_at) %>
    </div>
  </div>
  <div class="col-xs-12" id="comment_<%= c.id %>">
    <%= c.content %>
  </div>
</div>
