<%= form_for @post do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div>
    <%= f.label :title %>
  </div>
  <div>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div>
    <%= f.label :content %>
  </div>
  <div>
    <%= f.cktext_area :content, rows: 10 %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
