<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#all" aria-controls="all" role="tab" data-toggle="tab">All posts</a>
  </li>
  <% if user_signed_in? %>
    <li role="presentation">
      <a href="#friend-post" aria-controls="profile" role="tab" data-toggle="tab">Friend posts</a>
    </li>
  <% end %>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="col-xs-12 tab-pane active" id="all">
    <% if user_signed_in? %>
      <div class="col-xs-12">
        <div class="col-xs-3 pull-right">
          <%= link_to new_post_path, class: "btn btn-primary" do %>
            Create post
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
        </div>
      </div>
    <% end %>
    <% @posts.each do |p| %>
    <div class="col-xs-12">
      <div class="col-xs-1">
        <%= image_tag p.user.avatar.url(:thumb), class: "img-circle", width: 50, height: 50 %>
      </div>
      <div class="col-xs-10">
        <div class="col-xs-12">
          <div class="col-xs-12 nopadding wrap-text">
            <%= link_to p.user.email, user_path(id: p.user_id) %>
            <div class="text-muted">
              <span><%= time_ago_in_words(p.created_at) %> ago</span>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <%= link_to post_path(id: p.id) do %>
            <h3 class="nomargin"><b><%= p.title %></b></h3>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12" id="pagiall">
      <%= paginate @posts, theme: "twitter-bootstrap-3", remote: true %>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
    <% end %>
  </div>
  <div role="tabpanel" class="col-xs-12 tab-pane" id="friend-post">
    <% if user_signed_in? %>
      <div class="col-xs-12">
        <div class="col-xs-3 pull-right">
          <%= link_to new_post_path, class: "btn btn-primary" do %>
            Create post
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
        </div>
      </div>
      <% @posts_friend.each do |p| %>
      <div class="col-xs-12">
        <div class="col-xs-1">
          <%= image_tag p.user.avatar.url(:thumb), class: "img-circle", width: 50, height: 50 %>
        </div>
        <div class="col-xs-10">
          <div class="col-xs-12">
            <div class="col-xs-12 nopadding wrap-text">
              <%= link_to p.user.email, user_path(id: p.user_id) %>
              <div class="text-muted">
                <span><%= time_ago_in_words(p.created_at) %> ago</span>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <%= link_to post_path(id: p.id) do %>
              <h3 class="nomargin"><b><%= p.title %></b></h3>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12" id="pagifriend">
        <%= paginate @posts_friend, theme: "twitter-bootstrap-3", remote: true %>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
